* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Source Code Pro";
  src: url(./fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf);
}

:root {
  /* color */
  --Primary: #333333;
  --Scoendery: #8d8d8d;
  --White: #ffffff;
  --CSS: #30aadd;
  --HTML: #f2672e;
  --Javascript: #f2bf26;
  --SourceCode: "Source Code Pro";
  --progressBarWidth: 20%;
}

body {
  font-family: var(--SourceCode);
  color: var(--Primary);
  background-color: var(--White);
}
a {
  text-decoration: none;
}
.cardContainer img {
  width: 200px;
}
.cardContainer {
  transition: 300ms;
}
.cardContainer:hover {
  scale: 1.03;
  transition: 300ms;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.container {
  margin: 0 8vw;
}

nav .navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: min-content;
  margin-bottom: 1rem;
}
#mainLogo {
  max-width: 270px;
  height: auto;
}
#mainLogo {
  width: 100%;
}
nav .navigation .profile {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-around;
  color: var(--White);
  background-color: var(--Primary);
  align-items: center;
  padding: 8px;
  border-radius: 3rem;
  white-space: nowrap;
  word-spacing: -5px;
}

#profilePic {
  max-width: 32px;
}

.progressContainer {
  background-color: var(--Primary);
  color: var(--White);
  width: min-content;
  padding: 2rem;
  border-radius: 1rem;
}
.titleSectionImg img {
  max-width: 40px;
  border-radius: 50%;
}

.titleSection > div:not(.progressFooter) {
  display: flex;
  gap: 8px;
  margin-bottom: 1rem;
}

.progressBar {
  height: 6px;
  width: 30vw;
  background-color: var(--Scoendery);
}

.progressBar::before {
  content: "";
  background-color: var(--White);
  width: var(--progressBarWidth);
  height: 6px;
}
.progressFooter {
  display: flex;
  gap: 8px;
  align-items: center;
}
.languages {
  display: flex;
  gap: 12px;
}
.languages div::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-bottom: -4px;
  margin-right: 4px;
}
.languages #html::before {
  background-color: var(--HTML);
}
.languages #css::before {
  background-color: var(--CSS);
}
.languages #javascript::before {
  background-color: var(--Javascript);
}
#languageLable {
  background-color: var(--White);
  color: var(--Primary);
  padding: 4px 6px;
  border-radius: 1rem;
}

hr {
  margin: 3rem 0rem;
}

/* card section starts */
.cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  gap: 2rem;
}
.cardContainer {
  background-color: var(--Primary);
  width: 300px;
  height: 350px;
  gap: 1rem;
  color: var(--Scoendery);
  padding: 1.1rem;
  display: flex;
  flex-direction: column;

  border-radius: 20px;
}
.cardImg {
  width: 100%;
  min-height: 150px;
  background-image: url();
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cardTitle {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--White);
  white-space: nowrap;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  text-overflow: ellipsis ellipsis;
  max-width: 16ch;
}
.cardTitleSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cardDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  justify-content: space-between;
}
.cardDescription {
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 63px;
}

.btnAddNew {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: min-content;
  height: min-content;
  background-color: var(--Primary);
  color: var(--White);
  padding: 0.7rem;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.btnAddNew:nth-child(2) {
  white-space: nowrap;
  font-weight: 600;
  font-size: 1.1rem;
}
.progressSection {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
/* popup  */
.popup {
  height: 100vh;
  width: 100vw;
  /* background-color: red; */
  position: fixed;

  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  backdrop-filter: blur(10px);
  color: var(--White);
}
.popupContainer {
  height: min-content;
  width: 450px;
  padding: 2rem;
  background-color: var(--Primary);
  border-radius: 2rem;
}

.popupContainer input {
  margin: 5px 0px 10px 0px;
  background-color: var(--Primary);
  color: var(--White);
  font-size: 1.3rem;
  padding: 5px;
  outline: 0;
  border: 0;
  border-bottom: 2px solid var(--White);
}

.popupContainer textarea {
  margin: 5px 0px 10px 0px;
  background-color: var(--Primary);
  color: var(--White);
  font-size: 1.3rem;
  padding: 5px;
  outline: 0;
  border: 1px solid var(--White);
  border-radius: 10px;
}
.popupContainer h3 {
  font-size: 2rem;
  font-weight: 800;
  white-space: nowrap;
  margin-bottom: 10px;
}
.popupContainer label {
  font-size: 1.3rem;
  line-height: 1.5rem;
}
#languages {
  padding: 10px 0px 0px;
  display: block;
}

#challengeName,
#imgPath,
#description {
  width: 100%;
}
.popupContainer button {
  background-color: var(--White);
  color: var(--Primary);
  border: none;
  border-radius: 1rem;
  padding: 10px 15px;
  cursor: pointer;
  transition: 300ms;
}

#btnClose {
  background-color: transparent;
  color: var(--White);
  border: 1px solid var(--White);
}
.popupContainer button:hover {
  scale: 1.05;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  transition: 300ms;
}
.hide {
  display: none;
}

/* .popup input,
textarea,
checkbox {
  background-color: var(--Primary);
} */

/* Resonsive Settings */
@media (max-width: 520px) {
  .progressContainer,
  .progressBar {
    width: 100%;
  }
  .progressSection {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}

@media (max-width: 1200px) {
  .progressFooter {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 1100px) {
  .cards {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 750px) {
  .cards {
    grid-template-columns: auto;
  }
  .cardContainer {
    flex-direction: row;
    height: min-content;
    width: 80vw;
  }
  .cardImg {
    height: 40vw;
    min-width: 100px;
  }
  .cardDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: 0rem 1rem; */
    height: 40vw;
    justify-content: space-around;
  }
  * {
    word-spacing: 0px;
    /* line-height: 1rem; */
  }
  .languages div::before {
    margin-bottom: 4px;
  }
  .cardTitleSection {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
}

@media (max-width: 450px) {
  .cardTitle {
    max-width: 35vw;
  }
  #priceStatus {
    display: none;
  }
  .languages {
    display: none;
  }
  .cardDetails {
    justify-content: flex-start;
    gap: 0.8rem;
    justify-content: space-evenly;
  }

  .cardImg {
    min-width: 100px;
  }
  .cardTitle {
    font-size: 14px;
    font-weight: 800;
  }
  .popupContainer {
    width: 300px;
  }

  .popupContainer h3 {
    font-size: 1.4rem;
  }
}
