:root {
  /* primary  */
  --Green: hsl(75, 94%, 57%);
  /* Neutral  */
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --DarkGrey: hsl(0, 0%, 12%);
  --OffBlack: hsl(0, 0%, 8%);
}
@font-face {
  font-family: "inter";
  src: url(assets/fonts/Inter-VariableFont_slnt\wght.ttf);
}
* {
  font-size: 14px;
  text-decoration: none;
  color: var(--White);
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--OffBlack);
  font-family: "inter";
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.container {
  max-width: 400px;
  background-color: var(--DarkGrey);
  text-align: center;
  padding: 2rem;
  margin: 1rem;

  border-radius: 0.75rem;
  align-items: center;
}

.container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.container h2 {
  font-size: 2rem;
  font-weight: 600;
}

.location {
  color: var(--Green);
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.container ul {
  margin-top: 2rem;
}

ul li a {
  display: block;
  background-color: var(--Grey);
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  transition: background-color 300ms;
}

ul li:not(:last-child) {
  margin-bottom: 2rem;
}
ul li a:hover {
  background-color: var(--Green);
  color: var(--White);
  transition: 300ms;
  color: var(--OffBlack);
}
